<hr>

<div class="row mt-4">
  <div class="col-4">
    <h2>Habilidades blandas/duras</h2>
  </div>
  <div class="col">
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h3>Proactividad</h3>
    <div class="pie" style="--p:80"> 80%</div>
  </div>
  <div class="col">
    <h3>Trabajo en Equipo</h3>
    <div class="pie pie-rojo" style="--p:80"> 80%</div>
  </div>
  <div class="col">
    <h3>Solucion de Problemas</h3>
    <div class="pie pie-azul" style="--p:80"> 80%</div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h3>Expresión Oral</h3>
    <div class="pie pie-amarillo" style="--p:60"> 60%</div>
  </div>
  <div class="col">
    <h3>Manejo de recursos tecnológicos</h3>
    <div class="pie pie-verdeagua" style="--p:60"> 60%</div>
  </div>
  <div class="col">
    <h3>Habilidades Lingüísticas</h3>
    <div class="pie pie-fucsia" style="--p:50"> 50%</div>
  </div>
</div>