<hr>
<div class="row mt-4">
  <div class="col-4">
    <h2>Experiencia</h2>
  </div>
  <div class="col">
  </div>
</div>
<div class="row mt-4" *ngFor="let exp of this.datos.experiencias ?? []; let idx = index">
  <div class="col-4">
    <h3 *ngIf="!this.editando[idx]">{{exp.titulo}}</h3>
    <h3 *ngIf="this.editando[idx]"><input type="text" [(ngModel)]="exp.titulo"></h3>
  </div>
  <div class="col position-relative">
    <h4 *ngIf="!this.editando[idx]">{{exp.puesto}}</h4>
    <h4 *ngIf="this.editando[idx]"><input type="text" [(ngModel)]="exp.puesto"></h4>
    <app-edit-close [(editando)]="this.editando[idx]"></app-edit-close>
    <h6 *ngIf="!this.editando[idx]">{{exp.descripcion}}</h6>
    <h6 *ngIf="this.editando[idx]"><textarea cols="100" rows="5" [(ngModel)]="exp.descripcion"></textarea></h6>
  </div>
</div>