<hr>
<h2>Proyectos</h2>
<div class="row my-4">
  <h3>Proyecto 1 | 2018</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Nulla facilisi nullam vehicula ipsum a. Sodales ut etiam sit amet nisl purus. Feugiat scelerisque varius
    morbi enim nunc faucibus a pellentesque. Dui vivamus arcu felis bibendum ut tristique et egestas. Vitae et leo duis
    ut diam quam nulla porttitor. Sed faucibus turpis in eu. Odio eu feugiat pretium nibh ipsum consequat nisl vel
    pretium. Lacus vel facilisis volutpat est velit egestas. Ac tortor dignissim convallis aenean et tortor at. Nibh
    venenatis cras sed felis eget. Facilisi cras fermentum odio eu feugiat pretium nibh. Elit at imperdiet dui accumsan
    sit amet. Massa massa ultricies mi quis hendrerit dolor magna eget. Enim sed faucibus turpis in eu mi bibendum neque
    egestas. Malesuada nunc vel risus commodo. Sem fringilla ut morbi tincidunt augue interdum velit.</p>
  <a href="about:blank">Enlace 1</a>
</div>